
out/production/CodeWarsExercises/SumOfOddNumbers.class
out/production/CodeWarsExercises/TakeNumberAndSumItsDigitsRaisedToTheConsecutivePowers.class
out/production/CodeWarsExercises/SumOfOddNumbers.class
*.class
*.class
